.nuxtLogo {
  position: relative;
}

.sidebar {
  width: 160px;
  height: 100vh;
  border-color: rgb(150, 180, 190);
  border-width: 1px;
  border-right-style: solid;
  background-color: #bab8bdaa;
}

.room {
  font-size: 30px;
  border-color: rgb(150, 180, 190);
  border-width: 1px;
  border-bottom-style: solid;
  text-align: center;
}

.boardContainer {
  position: relative;
  height: 100%;
  background-color: #2f6665;
}

.stickyArea {
  position: relative;
  height: 32px;
  background-color: #eee8;
}

.textArea {
  max-width: 240px;
  max-height: 288px;
  width: 240px;
  height: 288px;
  filter: invert(100%) grayscale(100%);
  background-color: transparent;
}

.cardContainer {
  position: absolute;
  width: 240px;
  height: 320px;
}

.addCardButton {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 48px;
  color: #2f6665;
  background-color: #eee8;
  border: none;
  width: 48px;
  cursor: pointer;
}

.deleteButtom {
  position: absolute;
  right: 1%;
  top: 1%;
  border-radius: 50%;
  height: 22px;
  font-size: 8px;
  border: solid 1px #eee8;
  background-color: transparent;
  cursor: pointer;
}