.sampleFont {
  color: #00f;
}

.roomswrapper {
  position: relative;
  width: 160px;
}

.container {
  display: flex;
  height: 100vh;
}

.sideberwrapper {
  width: 160px;
}

.boardwrapper {
  flex: 1;
}